* {
	box-sizing: border-box;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.title{
	align-content: center;
	font-size: 64px;
	text-align: center;
	border: 10px solid;
	border-color: black;
	margin: 10px;
	background-color: lightgreen;
}

.row{
	padding: 20px;
	border: 4px solid black;
}
.menu-box{
	width: 33.33%; /* this must change when responsive*/
	background-color: lightgrey;
	margin: 1%;
	float: left;
	padding: 20px;
    border: 2px solid red;
}

.button {
	/* text-align: right;
	border: 4px solid black;
	float: right;
	background-color: lightskyblue;
	padding: 10px;
	position: relative;
	margin: auto;
	width: auto; */
}

.lorem {
	color: black;
	padding: 10px;
	border: 5px solid black;
	width: 100%;
	clear: right;
}

@media (min-width: 768px) and (max-width: 991px) {
	#first{
		background-color: magenta;
	}
	
}